
.newApp-cointainer{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-section-parent {
  display: flex;
  justify-content: center;
  height: 50vh; 
}

.form-section-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  margin-right: 20px; 
}

.form-section-child:last-child {
  margin-right: 10px; 
}


.newApp-form {
  display: flex;
  flex-direction: column;
  width: 80%; 
  max-width: 300px; 
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #92c7ed;
}

input[type="text"], input[type="number"], input[type="date"], input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[readonly] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.newApp-button {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.newApp-h1 {
  text-align: center;
  color: #013771;
}

.combo-style {
  width: 110%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}
