.alert {
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    font-size: 16px;
  }
  
  .alert-success {
    background-color: #4CAF50; 
    padding: 50px; 
    color:#fff
  }
  
  .alert-error {
    background-color: #f44336;
    padding: 50px; 
    color:#fff
  }
  
  .alert-info {
    background-color: #f3c221; 
  }
  
  .alert-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #1d67d6;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  